body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 850px;
    margin: auto;
    background: white;
    padding: 20px;
    padding-left: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
}

h1 {
    color: #333;
    margin: 0;
}

.contact-info, .social-links {
    color: #555;
    margin: 5px 0;
}

.section {
    margin-bottom: 20px;
}

.section-title {
    font-size: 1.2em;
    margin-bottom: 10px;
    font-weight: bold;
    color: #0056b3;
}

.content {
    padding: 0 10px; /* Padding added for left and right */
}

.content p, .content ul {
    margin: 5px 0;
    line-height: 1.6;
}

ul {
    padding-left: 20px;
}
